@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    /* COLORS */
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);

    --Gradient-Dark-Start : hsl(215.3,19.5%,17.1%);
    --Gradient-Dark-End : hsl(216,23.8%,12.4%);
    /* FONT */
    --main-font: 'Overpass';
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: var(--White);
    background-color: var(--Very-Dark-Blue);
    font-family: var(--main-font), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 160%;
    font-weight: 400;
}
.card{
    padding: 24px 24px 32px 24px;
    width: 327px;
    height: 360px;
    background-image: radial-gradient(circle at top, var(--Gradient-Dark-Start) 0%, var(--Gradient-Dark-End) 100%);
    border-radius: 15px;
}
.card__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--Dark-Blue);
    border-radius: 50%;
}
.card__logo{
    width: 14px;
    height: auto;
}
.card__title{
    margin: 16px 0px;
    font-size: 24px;
    line-height: 125%;
}
.card__content{
    padding-bottom: 24px;
}
.card__content-text{
    font-size: 14px;
    line-height: 22px;
    color: var(--Light-Grey);
}
.card__input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.labelRadio{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 0px 7px 0px;
    width: 42px;
    height: 42px;
    color: var(--Light-Grey);
    background-color: var(--Dark-Blue);
    border-radius: 21px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    transform-origin: center;
    transition: 0.7s;
}
.labelRadio:hover{
    color: var(--Dark-Blue);
    background-color: var(--Orange);
}
.labelChecked{
    color: var(--Dark-Blue);
    background-color: var(--White);
}
input[type="radio"]{
    position: absolute;
    width: 42px;
    height: 42px;
    cursor: pointer;
    opacity: 0;
}
.card__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 11px 0px;
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--Orange);
    border: none;
    border-radius: 22.5px;
    cursor: pointer;
    transition: 0.7s;
}
.card__button:hover, .card__button:focus, .card__button:active{
    background-color: var(--White);
}
.response{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 24px;
    text-align: center;
}
.response__img{
    width: 144px;
}
.response__content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
    padding: 7px 12px 4px 12px;
    width: fit-content;
    height: 32px;
    background-color: var(--Dark-Blue);
    color: var(--Orange);
    border-radius: 22.5px;
}
.response__content-text{
    font-size: 14px;
    line-height: 22px;
}
.response__thanks{
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 125%;
    font-weight: 700;
}
.response__acknowledgment{
    font-size: 14px;
    line-height: 22px;
    color: var(--Light-Grey);
}
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}
.footer__signature p, .footer__signature a{
    font-size: 14px;
}
.footer__signature a{
    color: var(--Orange);
}
.hidden{
    display: none;
}

@media (min-width: 768px) {
    .card{
        padding: 32px;
        width: 412px;
        height: 416px;
        border-radius: 30px;
    }
    .card__logo-container{
        width: 48px;
        height: 48px;
    }
    .card__logo{
        width: 17px;
    }
    .card__title{
        margin-top: 30px;
        font-size: 28px;
    }
    .card__content-text{
        font-size: 15px;
        line-height: 24px;
    }
    .card__input-container{
        margin-bottom: 32px;
    }
    .labelRadio{
        width: 51px;
        height: 51px;
        border-radius: 25.5px;
        font-size: 16px;
    }
    input[type="radio"]{
        width: 51px;
        height: 51px;
    }
    .response{
        padding: 45px 36px;
    }
    .response__img{
        width: 162px;
    }
    .response__content-container{
        margin: 32px 0px;
        padding: 7px 19px 4px 19px;
    }
    .response__content-text{
        font-size: 15px;
        line-height: 24px;
    }
    .response__thanks{
        margin-bottom: 7px;
        font-size: 28px;
        line-height: 43px;
    }
    .response__acknowledgment{
        font-size: 15px;
        line-height: 24px;
    }
}